@font-face {
  font-family: 'GeoSlab703 XBd BT Extra Bold';
  src: url('/path-to/GeoSlab703 XBd BT Extra Bold.woff2') format('woff2'),
       url('/path-to/GeoSlab703 XBd BT Extra Bold.woff') format('woff'),
       url('/path-to/geoslab703_xbd_bt_extra_bold.ttf')  format('truetype');
}

body {
  font-family: 'GeoSlab703 XBd BT Extra Bold', sans-serif;
}
